{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href={% url 'posting:posting' %}>Groups</a>
                <a class="nav-item nav-link" href={% url 'posting:users' %}>Admins</a>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}{% endblock %}
</body>
</html>