{% extends 'posting/base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ object.name }}</h1>
    </div>

    <div class="container">
        <h3>Общая информация</h3>
        <p>Активных источников: {{ object.get_active_donors_number }}. Всего источников {{ object.donors.count }}</p>
        <p>Готово постов для постинга: {{ object.get_ready_records.count }}</p>

        <h3>Статистика фильтров страпинга за последние 24 часа</h3>
        <p>Собрано постов: {{ object.get_all_records_last_day.count }}</p>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название фильтра</th>
                <th scope="col">Количество отфильтрованых постов</th>
            </tr>
            </thead>
            <tbody>
            {% for name, data in object.filter_stats_last_day %}
                <tr>
                    <th scope="row">{{ name }}</th>
                    <td>{{ data }} ({% widthratio data object.get_all_records_last_day.count 100 %})</td>
                </tr>
            {% endfor %}
            </tbody>
    </div>
{% endblock %}