{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Records</title>
</head>
<body>
<div class="container">
    <header>Все сообщества</header>
</div>
<div class="container">
    <div>
        {% if groups %}
            <ul class="list-group">
                {% for group in groups %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'admin:posting_group_change' group.pk %}">{{ group.group_id }}</a>
                        <span class="badge badge-primary badge-pill">
                        Donors: {{ group.get_active_donors_number }}/{{ group.donors.count }}
                    </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No groups</p>
        {% endif %}
    </div>
</div>
</body>
</html>