alphabet-detector==0.0.7
amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
enum34==1.1.6
gunicorn==19.8.1
idna==2.6
kombu==4.1.0
numpy==1.14.5
opencv-python-headless==3.4.1.15
phonenumbers==8.9.5
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
requests==2.18.4
six==1.11.0
uritools==2.2.0
urlextract==0.8.3
urllib3==1.22
vine==1.1.4
vk-api==10.0
vk-requests==1.1.1
